PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://abhinavjookantti_db_user:abhinav3832@cluster0.bfvdvbb.mongodb.net/chatapp?retryWrites=true&w=majority


INNGEST_EVENT_KEY=KgK2ny3n0DkU6u1xlhOLVSOJAEN4Vtzn_Guyz__YYz_vfsVawN_XSjtHazhbji56pGDCah2lsZpIc1e3dZ9mew
INNGEST_SIGNING_KEY=signkey-prod-4d72220014315fe7b352cecc99986fa2e7eeba2666def34ecca70e9fa45afa47

STREAM_API_KEY=hyjmswyb3dsk
STREAM_API_SECRET=ngapqzq37xvf6naws37dxy4yyg2hpxhvxu64sypcu6wa5wym38bf4zdxerhhkrtr

CLERK_PUBLISHABLE_KEY=pk_test_dGhhbmtmdWwtbGVlY2gtNzIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_GKQY1ui6tvyi3umE6DTE9gc2HqYvWNhvBQr6GuvQhM

CLIENT_URL=http://localhost:5173